.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog {
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  padding-top: 30px;
}

.map {
  display: flex;
  justify-self: center;
  width: 900px;
}

.province {
  cursor: pointer;
  fill: rgba(4, 150, 255, 1);
}

.province:hover {
  fill: rgba(0, 107, 166, 1);
}

.province.answer,
.province.answer:hover {
  fill: rgb(56, 199, 52);
}

.province.incorrect,
.province.incorrect:hover {
  fill: rgba(216, 17, 89, 1);
}
