.map {
  display: flex;
  align-items: center;
  justify-content: center;
}

.province {
  cursor: pointer;
  fill: rgba(4, 150, 255, 1);
}

.province:hover {
  fill: rgba(0, 107, 166, 1);
}

.province.answer,
.province.answer:hover {
  fill: rgb(56, 199, 52);
}

.province.incorrect,
.province.incorrect:hover {
  fill: rgba(216, 17, 89, 1);
}

.dialog {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  padding-top: 30px;
}

.app {
  display: grid;
  grid-template-rows: 40px 1fr;
}
