.map {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fill0 {
  fill: rgba(0, 107, 166, 1);
}
.fill1 {
  fill: rgba(4, 150, 255, 1);
}
.fill2 {
  fill: rgba(255, 188, 66, 1);
}
.fill3 {
  fill: rgba(216, 17, 89, 1);
}
.fill4 {
  fill: rgba(143, 45, 86, 1);
}

.fill0:hover {
  fill: rgba(0, 107, 166, 0.5);
}
.fill1:hover {
  fill: rgba(4, 150, 255, 0.5);
}
.fill2:hover {
  fill: rgba(255, 188, 66, 0.5);
}
.fill3:hover {
  fill: rgba(216, 17, 89, 0.5);
}
.fill4:hover {
  fill: rgba(143, 45, 86, 0.5);
}
